html {
	box-sizing: border-box;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
}

*,
::before,
::after {
	box-sizing: inherit;
}

::before,
::after {
	text-decoration: inherit;
	vertical-align: inherit;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

input,
select {
	vertical-align: middle;
}

input[type="button"],
input[type="submit"] {
	-webkit-appearance: none;
}

html {
	font-size: 62.5%;
}

body {
	color: #000;
	font-family: Verdana,"游ゴシック","游ゴシック体",YuGothic,"Yu Gothic","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
	line-height: 1.5;
	background-color: #fff;
}

::-moz-selection,
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::-moz-selection,
::selection {
	background: #b3d4fc;
	text-shadow: none;
}

a:link,
a:visited,
a:active {
	color: #000;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

button,
input,
select,
textarea {
	color: #000;
	outline: none;
}

textarea {
	resize: vertical;
}

label,
input[type=submit] {
	cursor: pointer;
}

#app {
	width: 680px;
	margin: 0 auto;
	padding: 20px;
}

h1 {
	font-size: 3rem;
	text-align: center;
	margin-bottom: 30px;
}

form {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: stretch;
	align-items: stretch;
	font-size: 0;
	padding: 0 40px;
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: solid 1px #ccc;
}

input {
	border: none;
	background: none;
	font-size: 1.5rem;
	padding: .8em .5em;
}

input[type=text] {
	width: 70%;
	border: solid 2px #ccc;
	border-right: none;
}

input[type=text]:focus {
	outline: none;
}

input[type=submit] {
	width: 30%;
	border-left: none;
	background-color: #ef5e5b;
	color: #fff;
	font-size: 1.5rem;
	padding: 0;
	line-height: 1;
}

input[type=submit]:hover {
	opacity: .7;
}

h2 {
	font-size: 2rem;
	padding: 0 40px;
	margin-bottom: 20px;
}

ul {
	padding: 0 40px;
}

ul li {
	list-style: none;
	font-size: 2rem;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 10px;
}

ul li:hover {
	background-color: #f2f2f2;
}

ul li label {
	width: 100%;
	margin-right: auto;
}

ul li input[type=checkbox] {
	margin-right: 10px;
}

ul li button {
	font-size: 2rem;
	color: #ccc;
	border: none;
	background: none;
	padding: 10px;
	cursor: pointer;
}

ul li button:hover {
	color: #000;
}


/*# sourceMappingURL=../map/style.css.map */
